.todoList {
  border-radius: 5px;
  background-color: #256c77;
  background:linear-gradient(to bottom, #256c77 5%, #1e5a63 100%);
  min-height: 500px;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 40px;
  .todoListTitle{
    padding-top: 30px;
    text-align: center;
  }
  .addTodo{
    margin: 0 30px;
    ::-webkit-input-placeholder {
    color: #ccc;
    }
    input{
      margin: 0 10px;
      font-size: 1rem;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #afd5e0), color-stop(1, #6fa0a8));
      background:linear-gradient(to bottom, #afd5e0 5%, #6fa0a8 100%);
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      border:1px solid #54888f;
      display:inline-block;
      color:#ffffff;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 16px #39828f;
    }
    .addTodoSubmit{
      float: right;
    }
  }
  ul{
    margin: 20px 15px 0 15px;
    line-height: 1.2;
    font-size: 1.2rem;
    li{
      margin-right: 25px;
    }
    li:hover{
      background-color: #6fa0a8;
      cursor: pointer;
    }
  }

}
