.todoList {
  border-radius: 5px;
  background-color: #256c77;
  background: linear-gradient(to bottom, #256c77 5%, #1e5a63 100%);
  min-height: 500px;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 40px;
  .viewList {
    .todoListTitle {
      // padding-top: 30px;
      display: block;
      text-align: center;
    }
    button {
      background-color: #6FA0A8;
      border-radius: 3px;
      font-size: 1.2rem;
      border: none;
      color: white;
      width: 120px;
      height: 30px;
      padding: 0;
      //  display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(to bottom, #afd5e0 5%, #6fa0a8 100%);
    }

    #archiveTodos{
      margin-top: 15px;
      width: 140px;
      height: 30px;
    }
    .addTodo {
      width: 90%;
      margin-left: 12%;
      ::-webkit-input-placeholder {
        color: #ccc;
      }
      .addTodoInput {
        font-size: 1rem;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #afd5e0), color-stop(1, #6fa0a8));
        background: linear-gradient(to bottom, #afd5e0 5%, #6fa0a8 100%);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #54888f;
        display: inline-block;
        color: #ffffff;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0 1px 16px #39828f;
      }
    }
    // #addTodoSubmit{
    //   float: right;
    // }
  }
  ul {
    margin: 20px auto;
    // line-height: 1.2;

    text-align: left;
    list-style-type: none;
    li {
      margin-right: 55px;
      font-size: 1.2rem;
      border-bottom: 1px solid #6fa0a8;
      line-height: 1.5;
      padding-left: 15px;
      // margin-left: -15px;
      i{
        padding-right: 15px;
      }
    }
    li:hover {
      background-color: #6fa0a8;
      cursor: pointer;
    }
  }
  .completedTodos{
    margin-top: 0;
  }
}


.fa-times {
  display: none;
}
#completeTodo:hover .fa-times {
  display : inline;
}
//
// #incompleteTodo:hover .fa-check {
//   display : inline;
// }

.markedComplete, .markedDelete{
    background-color: #6fa0a8;
    cursor: pointer;
}
.markedDelete{
  i{
    display: inline;
  }
}

// .completeTodos:hover .ok{
// display : none;
// }
