.chooseView{
  text-align: center;
  padding-top: 15px;
  input[type="radio"]{
    display: none;
  }

  label{
    font-size: 1.2;
    line-height: 2;
    padding: 10px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #afd5e0 5%, #6fa0a8 100%);
  }
  input[type=radio]:checked + label{
    background: #6FA0A8;
  }
}
